.button-placement {
	display: block;
	width: 100%;
    margin-bottom: 20px;
    text-align: right;
}

.carousel-item{
    .product-block{
        border: 1px solid #222;
        padding: 0px;
        text-align: center;

        h4{
            text-align: center;
        }

        a{
            margin: 0 0 20px;
        }
    }
}
.carousel-caption {
  position: absolute;
  right: ((100% - $carousel-caption-width) / 2);
  bottom: 20px;
  left: ((100% - $carousel-caption-width) / 2);
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .carousel-item .product-block{
        margin: 0 15px;
    }
    .carousel-title{
        font-size: 18px;
        margin-top: 20px;
    }
}
